/* CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 html,body {
width: 100%;
height: 100%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    height: auto;
    width: 100%;
    overflow-x: hidden;
}
.homepage{
    height: 100vh;
    width: 100%;
    background-color: rgb(199, 196, 196);

}
.nav{
    height: 50px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    padding-top: 5px;
    padding-right: 8px;
    display: inline-flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 5vh;
    
}

.nav i{
    background-color: black;
    padding: 0.5rem;
    font-size: 2rem;
    color: rgb(242, 170, 14);
    border-radius: 50%;
    

}

#menu{
    display: none;
}

.center{
    height: 80vh;
    width: 100vw;
    /* background-color: black; */
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    
}

.leftp1{
    height: 60%;
    width: 5vw;
    background-color: orange;

}

.content{
    height: 100%;
    width: 45%;
    /* background-color: blue; */
    padding-left: 5vw;
    padding-right: 4vw;
    /* display: flex; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: right;
    display: block;
    
}
.profile{
    height: 100%;
    width: 45%;
    /* background-color: rgb(99, 99, 132); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightp1{
    height: 60%;
    width: 5vw;
    background-color: orange;

}
.content h2{
    color: orange;
    font-family: Oswald;
    font-weight: 900;
    font-size:2rem ;
    letter-spacing: 1px;

}
.heading a {
    text-decoration: none;
    color: rgb(253, 251, 251);
    font-size:5vw ;
    font-weight: 700;
    text-shadow: 5px 3px 3px orange;
    font-family: Oswald;
    letter-spacing: 5px;
    margin-bottom: 1vh;
}

#imro{
    text-shadow: 5px 3px 1px black;
}

.heading{
    display: flex;
    gap: 15px;
}

#yellowline{
    background-color: orange;
    display: inline-block;
    margin-bottom: 1.5vh;
    padding: 1px 6px;
}
#blackline{
    background-color: black;
    color: orange;
    display: inline-block;
    margin-bottom: 3vh;
    padding: 1px 6px;
}

.content button{
    background-color: black;
    color: white;
    padding: 7px 15px;
    border-radius: 15px;
    font-size: 0.9vw;
    border: 1px solid black;
    margin-top: 3vh;
    font-weight: 600;
}
.content p{
    font-size: 0.8vw;
}

.pic{
    height: 30vw;
    width: 65%;
    /* background-color: azure; */
    background-image: url(./images/king.jpg);
    background-size: cover;
    background-position: top;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 9999;
    
}
.pic img{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

/* ! about pages stsrted,,,,,,,,,,,,,,,,,,,,,, */

.aboutpage{
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(83, 65, 33); */
    display: flex;
}

.aboutpage-part1{
    height: 100vh;
    width: 20%;
    background-color: orange;

}
.aboutpage-part2{
    height: 100vh;
    width: 70%;
     background-color: rgb(199, 196, 196);

}
.aboutpage-part3{
    height: 100vh;
    width: 10%;
     background-color: rgb(199, 196, 196);
}

.bigabout{
    height: 40vh;
    width: 100%;
    /* background-color: blueviolet; */
}
.bigabout2{
    /* height:60vh; */
    width: 100%;
    /* background-color: rgb(43, 226, 76); */
}
.bigabout i{
    font-size: 6vw;
    font-weight: 900;
}
.bigabout span{
    font-size: 5vw;
    font-weight: 900;
    
    
}
.para h2{
    font-weight: 400;
}
.para span{
    font-size: 27PX;
}

.aboutme-div{
    margin-bottom: 2vw;
}
.para P{
    font-size: 1VW;
    font-weight: 300;
    margin-top: 1VW;
}
.para{
    padding: 0px 85px;
}



.about-pic{
    height: 40%;
    width: 100%;
    background-color: rgb(41, 45, 66);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    height: 14vw;
    width: 70%;
    background-image: url(./images/king.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 4px solid white;
}
.about-nav{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 2vh; */
    align-items: center;
    justify-content: center;
}
.about-nav a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-bottom: 1.5vw;
}
#content{
    margin-bottom: 0px;
}
#about-me{
    color: white;
}

.aboutpage-part3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: orange;
    gap: 5vh;
}
#icon2{
    background-color: black;
    border-radius: 50%;
    padding: 2vh;
}

.yellow-btn{
    height: 5vh;
    width: 100%;
    display: flex;
    gap:9.6vw;
    
}
.yellow-btn a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    background-color: orange;
    padding: 0px 30px;
    border-radius: 15px;
    font-weight: 800;
    margin-left: 15vh;
    text-align: center;


}

.yellow-black{
    height: calc(100% - 5vh);
    width: 100%;
    /* background-color: rgb(249, 248, 248); */
    display: flex;
}

.yellow-part{
    height: 100%;
    width: 45%;
    /* background-color: rgb(149, 100, 40); */
}
.black-part{
    height: 100%;
    width: 55%;
    /* background-color: aqua; */
    display: flex;
    gap: 6vw;
   /* padding: 2.5vw; */
    flex-wrap: wrap;
    padding-top: 1vw;
    
    
}

.black-ball{
    height: 7vw;
    width: 7vw;
    background-color: black;
    /* color: orange; */
    border-radius: 50%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
    
    
    

}
.black-ball h1{
    font-size: 2.5vw;
    color: orange;

}
.black-ball p{
    font-size: 0.8vw;
    color: white;
    font-weight: 500;
    /* position: relative; */

}

.yellow-box i{
    background-color: orange;
    padding: 1.7vw;
    border-radius: 50%;
    font-size: 3vw;
    margin-right: 3vw;
    margin-left: 5.9vw;
    
}
.yellow-box{
    display: flex;
    padding-top: 1vw;

}
.yellow-box p{
    font-size: 0.8vw;
    font-weight: 400;
}

.yellow-box h3{
    font-size: 1.4vw;
    font-weight: 900;
}



/* ! media ceaurry stsrted.............................. */
@media (max-width: 600px) {
    #menu{
        display: block;
    }

    #icon{
        display: none;
    }

    .center{
        display: flex;
        flex-direction:column ;
    } 
    
    .leftp1{
        display: none;
    }
    .rightp1{
        display: none;
    }
    .center{
        height: auto;
        /* width: 100%; */
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;

        


    }

    .profile{
        height: 65vw;
        width: 65vw;
        /* padding-top: 2vw; */
        margin-top: 0px;
    }
    .pic{
        height:100% ;
        width: 500px;
    }
    .content{
        height: 40vw;
        width: 100%;
        
    }
    .content{
        display: flex;
        justify-items: center;
        align-self: center;
    }

    .content h2{
        font-size:30px ;
    }
     .content a{
        font-size:45px ;
    }

    .content h4{
        display: inline;
        font-size: 15px;
        
        
    }
    .content p{
        /* display: inline; */
        font-size: 12px;
        
        
    }
    .content button{
        /* display: inline; */
        font-size: 15px;
        
        
    }
    .nav{
        margin-bottom: 0px;
    }
    .aboutpage{
        flex-direction: column;
    }
    .aboutpage-part1{
        width: 100%;
        height: 25vw;

    }
    .img{
        /* display: none; */
        height: 20vw;
        width: 20vw;
    }
    .aboutpage-part1{
        display: flex;
    }
    .about-pic{
        height: 25vw;
        width: 25vw;
        /* display: none; */
        background-color: orange;
        /* display: none; */
    }
    .about-nav{
        display: flex;
        flex-direction: row;
        
        gap: 2vw;
        flex-wrap: nowrap;
        overflow-x: scroll;
        position: relative;
        /* padding-right: 40%; */
        padding-left: 81%;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        white-space: nowrap;
        font-size: 5vw;
        
        width:100% ;

    }
    .about-nav i{
        display: none;
    }
    .aboutpage-part3{
        display: none;
    }

    .aboutpage-part2{
        width: 100%;
        height: calc(100vh - 25vw);
    }

    .bigabout{
        height: 40%;
    }

    .aboutme-div i{
        font-size: 7vw;
    }
    .aboutme-div span{
        font-size: 7vw;
    }

    .para h2{
        font-size: 7vw;

    }
    .para p{
        font-size: 2vw;
        font-weight: 400;
    }
    .yellow-btn{
        display: none;
    }
    .yellow-black{
        display: flex;
        flex-direction: column;
    }
    .yellow-part{
        width: 100%;
        height: 30%;
        
    }
    .yellow-box i{
        font-size: 10vw;
    }
     .yellow-text h3{
        font-size: 4vw;
    }
    .yellow-text p{
        font-size: 10px;
    }
    .black-part{
        display: flex;
        width: 100%;
        height: 35%;
        gap: 15%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        justify-content: space-around;
        /* align-items: center; */
        margin: 5px;
        gap: 9vw;

    }
    .black-ball{
        height: 20vw;
        width: 20vw;
        gap: 1px 3px;
        
    }
   

}
